# === Escudo de Seguridad y Credenciales (CRÍTICO) ===
.env
.env.*
!.env.example
*.json
!config/*.json
!visualizacion/static/data.json

# === Almacenamiento de Datos (Bloqueo total) ===
data/
*.zip
*.tar.gz

# === Formatos de Archivos Sensibles / Basura ===
*.xlsx
*.csv
*.parquet
*.sav

# === Archivos del Sistema, Cache e IDEs ===
.ipynb_checkpoints/
__pycache__/
*.pyc
.vscode/
.idea/