# === Escudo de Seguridad Medallion ===
data/
data/bronze/
data/silver/

# === Bloqueo de archivos de datos por extensión ===
*.xlsx
*.csv
*.parquet
*.sav

# === Archivos del Sistema e IDEs ===
.ipynb_checkpoints/
__pycache__/
*.pyc
.vscode/
.idea/